.project-component-wrapper {
    border-radius: 8px;
    max-width: 288px;
}

.project-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    border-radius: 8px;
    padding: 0;
    transform: none;
    background-color: #FB2C36;
}

.project-label-and-desc {
    background-color: #FFFFFF;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 8px 8px;
}
.project-components:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease-in-out;
    box-shadow: 10px 10px 20px rgba(115, 2, 8, 1.0);
    cursor: pointer;
}

.label-text {
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
}

.project-image {
    background-color: #FFFFFF;
    display: block;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
}

.description-text {
    line-height: normal;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: .5rem;
    border-radius: 8px;
}

.github-link:hover {
    color: purple;
}
