body {
    background-color: #FFFFFF;
}

.home-page {
    padding-top: 2rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.strong-text {
    color: #FB2C36;
}

.title-text-box {
    width: 60%;
    text-align: center;
}

.home-page-wrapper {
    top: 20%;
}

.home-page-wrapper, .education-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.project-component-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 8rem;
    width: fit-content;
    height: 40%;
    background-color: #FB2C36;
    padding: 1rem;
    left: 50%;
    right: 50%;
}

.projects-wrapper {
    width: 100%;
    background-color: #FB2C36;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.project-components {
    background-color: #FB2C36;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.text {
    background-color: #FB2C36;
    margin-bottom: 0;
}

.profile-image {
    width: 300px;
    aspect-ratio: 1; 
    border-radius: 50%;
    border: 5px solid #FB2C36; 
    
    /* Image inside the circle */
    background-image: url('../images/profileimage.jpg');
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;

    cursor: pointer;
    background-color: transparent;
}

.glasses-image {
    background-color: transparent;
    margin-top: 110px;
    margin-right: 10px;

    /* Animation */
    animation: glideDown .5s ease-out forwards;
}

@keyframes glideDown {
    0% {
        transform: translateY(-100vh); 
        opacity: 0;   
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}

.other-projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: .5rem;
}

.other-projects-wrapper {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    gap: 2rem;
    width: fit-content;
    height: 40%;
    padding: 1rem;
    left: 50%;
    right: 50%;
}

.other-projects {
    outline: 3px solid #FB2C36;
    border-radius: 8px;
}

.other-proj-title {
    margin-bottom: 0;
}

.other-projects:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease-in-out;
    box-shadow: 10px 10px 20px rgba(115, 2, 8, 1.0);
    cursor: pointer;
}

.game-container {
    width: 100%;
    margin-bottom: 10%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}